<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NARISARA</title>
    <link rel="icon" type="image/x-icon" href="/Proto/icon.ico">
    <link rel="stylesheet" href="../Proto/NARIS-Photoroom.ico">
 <link rel="stylesheet" href="../css/about.css">
</head>
<body style="background-color:  #96ccf3;;
">
    
    <div class="navbar-nav" id="navbarNav">
      <div class="container">
        <div class="nav-con">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="../index.html">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active1" href="../views/about.html">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./projrct.html">PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./contact.html" >CONTACT</a>
            </li>
          
          </ul>
        </div>
      </div>
    </div>



    <div class="aboutme">
      <div class="container">
      <div class="item1">
        <div class="photo">
          <img src="../Proto/me2.jpg" alt="me2">
        </div>
        <div class="text1">
          <p><b>About Me</b></p> 
          <div id="text1">
            I started learning web development in 2022 by studying web creation content from the internet and YouTube. The first languages I learned were HTML/CSS for Front-end development. I then had the opportunity to work at Nikon (Thailand) as a Software Developer, where I gained experience using frameworks, writing Back-end code, and building APIs with SQL server. I now have 1 year of experience working on web applications. In the future, I plan to study web development with React.js, Next.js, and other technologies.
          </div>

        </div>
      </div>
      <div class="education">
        <p>EDUCATION</p>
        <div class="item2">
          <div class="photo">
            <img src="../Proto/Friend.jpg" alt="me3">
          </div>
          <div class="text2">
              <div class="col " id="texteducation"><img src="../Proto/graduation-hat.png" alt="Icon" >Department of electrical engineering</div>
   
              <div class="col text-start" id="textme1" >- Electronics ans Computer System Major</div>
              <div class="col  text-start" id="textme1">- Silpakorn University | 2019-2023</div>
              <div class="col text-start" id="texteducation1"><img src="../Proto/school.png" alt="Icon" ></i>Sai-Math</div>
              <div class="col text-start" id="textme1"  >- Piyajat Pattana School | 2019-2023</div>
            </div>
  
          </div>
        </div>
      <div class="detail">
        <p>SKILLS</p>
        <div class="item3">
          
          <p>Front-end</p>
          <div class="front">
            <div class="card">
                <p>HTML:5</p>
            </div>
            <div class="card">
                <p>CSS</p>
            </div>
            <div class="card">
                <p>JavaScript</p>
            </div>
            <div class="card">
                <p>Bootstrap</p>
            </div>
        </div>
        

          <p>Back-end</p>
          <div class="back">
            <div class="card">
                <p>node js</p>
            </div>
            <div class="card">
                <p>server sql</p>
            </div>
        </div>
          <p>Tool</p>
          <div class="tool">
            <div class="card">
                <p>VSCode</p>
            </div>
            <div class="card">
                <p>ChatGPT</p>
            </div>
            <div class="card">
                <p>Postman</p>
            </div>
            <div class="card">
                <p>Git</p>
            </div>
            <div class="card">
                <p>Figma</p>
            </div>
        </div>
          <p>Soft Skill</p>
          <div class="skill">
            <div class="card">
                <p>Communication</p>
            </div>
            <div class="card">
                <p>Problem Solving</p>
            </div>
            <div class="card">
                <p>Teamwork</p>
            </div>
            <div class="card">
                <p>Creativity</p>
            </div>
            <div class="card">
                <p>Time Management</p>
            </div>
        </div>
 
  
          </div>
        </div>
    </div>
    </div>
    </div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

     
</body>
<script src="../js/about.js"></script>  
</html>