<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NARISARA</title>
    <link rel="icon" type="image/x-icon" href="/Proto/icon.ico">
    <link rel="stylesheet" href="../Proto/NARIS-Photoroom.ico">
 <link rel="stylesheet" href="../css/contact.css">
</head>
<body >
  <d<div class="navbar-nav" id="navbarNav">
    <div class="container">
        <div class="nav-con">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../views/index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/about.html">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./projrct.html">PROJECT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active1" href="./contact.html">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="contact">
    <div class="socail">
        <div class="s1">
            <a href="https://www.facebook.com/tong.narisara43/" class="social-link" target="_blank">
                <img class="social-icon rounded-circle" src="../Proto/Remove-bg.ai_f.png" alt="Facebook" />
                <h2 class="fw-normal">Facebook</h2>
            </a>
        </div>
        <div class="s1">
            <a href="https://www.instagram.com/tongnarisara/" class="social-link" target="_blank">
                <img class="social-icon rounded-circle" src="../Proto/Remove-bg.ai_i.png" alt="Instagram" />
                <h2 class="fw-normal">Instagram</h2>
            </a>
        </div>
        <div class="s1">
            <a href="line://ti/p/tongnarisara" class="social-link" target="_blank">
                <img class="social-icon rounded-circle" src="../Proto/Line-Icon-Circle.png" alt="Line" />
                <h2 class="fw-normal">Line</h2>
            </a>
        </div>
        <div class="s1">
            <a href="tel:0614528903" class="social-link" target="_blank">
                <img class="social-icon rounded-circle" src="../Proto/Remove-bg.ai_pho.png" alt="Phone"  />
                <h2 class="fw-normal">Phone</h2>
            </a>
        </div>
    </div>
</div>


<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
<div class="circle"></div>
</body>
<script src="../js/contact.js"></script>  
</html>