<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NARIARA</title>
    <link rel="icon" type="image/x-icon" href="/Proto/icon.ico">
   <link rel="stylesheet" href="../Proto/NARIS-Photoroom.ico">
   <link rel="stylesheet" href="../css/time.css">
</head>
<body >

    <div class="container">
<div class="digital-clock">
<div class="week">
    <div class="active">SUN</div>
    <div>MON</div>
    <div>TUE</div>
    <div>WED</div>
    <div>THU</div>
    <div>FRI</div>
    <div>SAT</div>
</div>  
<div class="time">
<div class="hour"></div> 
<div class="dot">:</div>
<div class="min"></div>
</div>
</div>


</div>
<div class="container2">
    <a href="./projrct.html">Back </a>
</div>

</body>
 
<script src="../js/time.js"></script> 

</html>